.App {
  text-align: center;
  background-color: #000000
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#newsSelect ul{
  list-style: none;
  display: inline-block;
  margin:5px;
  padding:0;
}

#newsSelect ul li{
  display: inline-block;
  margin: 5px;
  border: 1px solid #61DAFB;
  border-radius: 10px;
  padding:5px;
  background-color:rgb(65, 162, 189);
}

#newsSelect ul li svg{
  margin-right:5px;
  color:white;
}

#newsList ul{
  list-style: none;
  margin:0;
  padding:0;
}

#newsList ul li{
  display: block;
  border: 1px solid black;
  margin: 0px 15px;
  padding: 5px;
  background-color: white;
}

div.articleBlock div.img img{
  width:100px;
  float:left;
  margin-right:10px;
}

div.articleBlock div.title{
  text-align: left;
}

div.articleBlock div.description{
  text-align: left;
  font-size: smaller;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
