.App, body{
  text-align: center;
  background-color: rgb(218, 224, 230);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
  display:inline-block;
  position: fixed;
  top:-20px;
  z-index:10;
  opacity:0.3;
}

.App-header {
  background-color:rgb(0, 0, 0);
  height: 65px;
  width:100%;
  color: white;
  display:flex;
  border-bottom: 1px solid #b5bbc2;
  position: fixed;
  top: 0;
  z-index: 80;
}

.App-header .Header-icons{
  margin-left: 12px;
  order: 3;
}

.App-header .Header-icons .icon{
  border-left:1px solid white;
  height:100%;
}
.App-header .Header-icons svg{
  color:white;
  font-size:24px;
  margin-top:20px;
}

.dropdown {
  margin-left: auto;
  margin-right: 20px;
  order: 2;
  z-index: 100;
}

.dropdown div {
  padding: 5px;
  margin-top:15px;
}

.dropButton{
  text-align: right;
}

.dropButton svg{
  font-size:50px;
  text-align: right;
}

.dropdown select{
  font-size: 24px;
  width: 200px;
}

.dropdown .selected:after{
  content: "▼";
  padding: 12px 8px;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  height: 100%;
  pointer-events: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right:0;
  z-index: 1;
}

.dropdown ul{
  margin:0;
  padding:0;
  background:white;
  border:1px solid black;
}

.dropdown ul li{
  list-style: none;
  margin-left:0;
  padding: 10px 10px 10px 10px;
  border:1px solid rgb(0, 121, 211);
  text-align: left;
}

.dropdown ul li a{
  color: rgb(0, 121, 211);
}

.App-header svg{
  font-size: 32px;
  margin:4px 10px;
  color: rgb(0, 121, 211);
}

.App-title {
  display: inline-flex;
  font-size: 100px;
  font-weight: bold;
  margin-top: -20px;
  overflow: hidden;
}

#newsSelect ul{
  list-style: none;
  display: inline-block;
  margin:5px;
  padding:0;
}

#newsSelect ul li{
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  color:white;
  padding:5px;
  background-color:rgb(65, 162, 189);
}
#newsSelect ul li.top{
  background-color:rgb(214, 0, 29);
}


#newsSelect ul li svg{
  margin-right:5px;
  color:white;
}
#newsList{
  margin-top: 75px;
  background: rgb(218, 224, 230);
}
#newsList ul{
  list-style: none;
  margin:15px 0px 0px;
  padding:0;
  text-align: right;
}

#newsList ul li{
  display: block;
  margin: 0px 15px 10px 15px;
  padding: 0px;
  background-color: white;
}

div.articleBlockMain{
  display:flex;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  transition: box-shadow 83ms;
  min-height: 100px;
}

div.articleBlockMain .content{
  padding: 8px;
  display: block;
  width: 80%;
}

div.articleBlockMain div.img{
  display: block;
  width: 20%;
  background-size: cover;
  background-position: center;
}

div.articleBlockMain div.bias{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  display: block;
}

.bias.darkestRed{
  background-color: #580000;
}
.bias.darkRed{
  background-color: #5a0000;
}
.bias.darkerRed{
  background-color: #a30000;
}
.bias.red{
  background-color: #b14343;
}
.bias.lightRed{
  background-color: #b86f6f;
}
.bias.neutral{
  background-color: #ccc;
}
.bias.lightBlue{
  background-color: #6f97b8;
}
.bias.blue{
  background-color: #4360b1;
}
.bias.darkerBlue{
  background-color: #005aa3;
}
.bias.darkBlue{
  background-color: #002f5a;
}
.bias.darkestBlue{
  background-color: #001f58;
}

div.articleBlockMain div.title{
  text-align: left;
}

div.articleBlockMain div.title a{
  color: #222
}

div.articleBlockMain div.description{
  text-align: left;
  font-size: small;
  padding: 10px 10px 30px 0px;
}


#newsList div.articleBlock div.providers ul li{
  border:none;
  display: inline-block;
  margin: 0;
  padding-right: 2px;
  color:#222;
}

#newsList div.articleBlock div.providers ul li.selected{
  border-bottom: 3px solid #222;
}

div.articleBlock div.providers li span{
  display: block;
  font-size: x-small;
  padding:10px;
  height:7px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}

@media (max-width: 560px) {
  /* Styles */
  div.articleBlockMain{
    display:block;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    min-height: 100px;
  }
  
  div.articleBlockMain .content{
    padding: 8px;
    display: block;
    width: 100%;
  }
  
  div.articleBlockMain div.img{
    display: block;
    width: 100%;
    height:200px;
    background-size: cover;
    background-position: center;
  }

  div.articleBlockMain .content {
    width:95%;
  }

  .App-header{
  }

  .App-title{
    font-size:50px;
    margin-top:6px;
  }

  .dropdown div{
    margin-top:10px;
  }
}