.App {
  text-align: center;
  background-color: #f5f5f5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  display:inline-block;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  display:flex;
  padding-top:10px;
}

.App-title {
  display:inline-flex;
  margin-top:5px;
}

.App-intro {
  font-size: large;
}

#newsSelect ul{
  list-style: none;
  display: inline-block;
  margin:5px;
  padding:0;
}

#newsSelect ul li{
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  color:white;
  padding:5px;
  background-color:rgb(65, 162, 189);
}
#newsSelect ul li.top{
  background-color:rgb(214, 0, 29);
}


#newsSelect ul li svg{
  margin-right:5px;
  color:white;
}

#newsList ul{
  list-style: none;
  margin:0;
  padding:0;
}

#newsList ul li{
  display: block;
  margin: 0px 15px 10px 15px;
  padding: 0px;
  background-color: white;
}

div.articleBlockMain{
  display:flex;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  transition: box-shadow 83ms;
}

div.articleBlockMain .content{
  padding:5px;
  display:block;
}

div.articleBlockMain div.img{
  display:block;
}

div.articleBlockMain div.bias{
  position: absolute;
  background-color: #ccc;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  display: block;
}

div.articleBlockMain div.img img{
  width:130px;
  float:left;
  margin-right:10px;
}

div.articleBlockMain div.title{
  text-align: left;
}

div.articleBlockMain div.title a{
  color: #222
}

div.articleBlockMain div.description{
  text-align: left;
  font-size: x-small;
}

#newsList div.articleBlock div.providers{
  position: absolute;
  bottom: 0;
  right: 0;
}

#newsList div.articleBlock div.providers ul li{
  float:left;
  border:none;
  display: block;
  margin: 0;
  padding-right: 2px;
  color:#222;
}

#newsList div.articleBlock div.providers ul li.selected{
  border-bottom: 3px solid #222;
}

div.articleBlock div.providers li span{
  display: block;
  font-size: x-small;
  padding:10px;
  height:7px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
