{% extends 'layout.html' %}

{% block title %}Stremr{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="custom.css">
{% endblock %}

{% block content %}
<p>Articles:</p>
<ul>
    {% for articleSet in articles %}
        <li{% if loop.first %} class="first"{% endif %}>
            <ul>
                {% for article in articleSet %}
                <li>
                    {{ article.title }}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}